/* use only the available space inside the 400x400 frame */
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #1e293b;
	box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.24), 0 0 0 1px rgba(0, 0, 0, 0.08);
	color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.eye {
	width: 160px;
	height: 160px;
	background-color: #cbd5e1;
	border-radius: 160px 0;
	transform: rotate(45deg);
	overflow: hidden;
}

.iris {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 40px;
	height: 40px;
	background-color: #334155;
	border-radius: 100%;
	border: 36px solid #f8fafc;
	animation: eye-movement 6s ease-in-out infinite;
}

@keyframes eye-movement {
	0%, 14%, 56% {
		transform: rotate(-45deg) translate(0%, 0%);
	}
	18%, 30% {
		transform: rotate(-45deg) translate(-25%, 8%);
	}
	34%, 52% {
		transform: rotate(-45deg) translate(25%, 8%);
	}
}

.top-eyelid,
.bottom-eyelid {
	width: 260px;
	height: 100px;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.top-eyelid {
	box-shadow: 0 -60px 0 40px #1e293b;
	animation: top-eyelid 6s ease-in-out infinite;
}

.bottom-eyelid {
	box-shadow: 0 60px 0 40px #1e293b;
	animation: bottom-eyelid 6s ease-in-out infinite;
}

@keyframes top-eyelid {
	0%, 10%, 18%, 26%, 34%, 48%, 56%, 76%, 84%, 100% {
		transform: translate(-50%, -50%);
	}
	14%, 30%, 52%, 80% {
		transform: translate(-50%, 32%);
	}
}

@keyframes bottom-eyelid {
	0%, 10%, 18%, 26%, 34%, 48%, 56%, 76%, 84%, 100% {
		transform: translate(-50%, -50%);
	}
	14%, 30%, 52%, 80% {
		transform: translate(-50%, -132%);
	}
}