/**
 * delete the following line if no text is used
 * edit the line if you wanna use other fonts
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);

/* use only the available space inside the 400x400 frame */
.frame {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background-color: #831843;
	/* background-image: linear-gradient(to bottom right, #FB7185, #E11D48); */
	box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.24), 0 0 0 1px rgba(0, 0, 0, 0.08);
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.date {
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(251, 113, 133, 1);
	transition: background-color 0.32s ease, transform 0.32s ease, box-shadow 0.32s ease;
	cursor: pointer;
}

.date:hover {
	background-color: rgba(251, 113, 133, 0.72);
	transform: scale(0.95);
	box-shadow: 0 0 10px #881337 inset;
}

.day-of-the-week {
	font-size: 16px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
}

.day-of-the-month {
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
	color: white;
}